html, body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0 auto;
  font-size: 40px;
}

.main {
  height: 100vh;
  background: orange;
}

.selection {
  background: pink;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
}